* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
 }
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 
 button,
 input { /* 1 */
   overflow: visible;
 }
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 
 button,
 select { /* 1 */
   text-transform: none;
 }
 
 /**
  * Correct the inability to style clickable types in iOS and Safari.
  */
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }

 button:focus {
   outline: none;
 }

.app__container {
  display: grid;
  width: 100vw;
  grid-template-columns: 60% 30%;
  column-gap: 80px;
  width: 99vw;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background-color: white;
  box-shadow: -6px 6px 14px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
  overflow: hidden;
}

.team-section__container {
  position: relative;
}

.pokemon-team__container {
  position: fixed;
  top: 0;
  width: 30vw;
}


.pokemon-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.error-message {
  padding: 2rem 0;
  text-align: center;
  position: fixed;
  top: 2rem;
  z-index: 10;
  background-color: rgba(200, 0, 0, 0.75);
  width: 100%;
  color: white;
  font-size: 1.5rem;
}

.pokemon-card {
  position: relative;
}

.add-pokemon {
  position: absolute;
  z-index: 10;
  bottom: -50px;
  display: block;
  width: 100%;
  border: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: red;
  height: 50px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.pokemon-card:hover > .add-pokemon {
  display: block;
  bottom: 0;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}